<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: head}"></head>

<body>

	<div th:replace="~{base :: logo}"></div>
	<div class="container mt-3">
		<div class="card mb-3">
			<form th:action="@{/login}" class="card-body" method="post">
				<div class="form-group">
					<label for="username">Usuário</label>
					<input id="username" name="username" class="form-control" placeholder="Usuário"/>
				</div>
				<div class="form-group">
					<label for="password">Senha</label>
					<input id="password" type="password" name="password" class="form-control" placeholder="Senha"/>
				</div>
				<div class="p-3 d-flex justify-content-between">
					<button class="btn btn-primary" type="submit">Login</button>
					<a class="text-blue" href="/cadastro/formulario">Cadastre-se</a>
				</div>

			</form>
		</div>
	</div>
	
	
</body>
</html>